/* Runner and pronouns panel. */
#runner-container1 {
	width: 500px;
	height: 60px;
	line-height: 60px;
	left: 15px;
	top: 329px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 370px;
}

/* Game name panel. */
#game-name {
	width: 875px;
	height: 85px;
	line-height: 85px;
	left: 1010px;
	top: 844px;
		
	padding-left: 10px;
	padding-right: 10px;
}

/* Category and estimate panel. */
#info-container {
	width: 875px;
	height: 40px;
	line-height: 40px;
	left: 1010px;
	top: 924px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Timer panel. */
#timer {
	width: 420px;
	height: 85px;
	line-height: 85px;
	left: 550px;
	top: 844px;

	padding-left: 10px;
	padding-right: 10px;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 550px;
	top: 927px;
}