/* Runner and pronouns panel. */
#runner-container1 {
	width: 565px;
	height: 70px;
	line-height: 70px;
	left: 15px;
	top: 15px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 500px;
}

/* Game name panel. */
#game-name {
	width: 565px;
	height: 60px;
	line-height: 60px;
	left: 15px;
	top: 228px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Category panel. */
#info-container {
	width: 565px;
	height: 40px;
	line-height: 40px;
	left: 15px;
	top: 284px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Timer panel. */
#timer {
	width: 565px;
	height: 60px;
	line-height: 60px;
	left: 15px;
	top: 108px;

	padding-left: 10px;
	padding-right: 10px;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 15px;
	top: 168px;
}