/* Font settings. */
@font-face {
	font-family: 'Futura Medium';
	src: url('../fonts/futura\ medium\ bt.ttf');
}

@font-face {
	font-family: 'Futura Heavy';
	src: url('../fonts/Futura\ Heavy\ font.ttf');
}
/* You can add an unlimited amount of fonts by copy/pasting @font-face! */

/* General settings. */
body {
	font-family: 'Futura Heavy';
	color: #FFFF00;
	width: 1920px;
	height: 1080px;
	/* position: absolute; */
}

/* Game name panel. */
#game-name {
	font-size: 40pt;
	font-stretch: semi-condensed;
	text-align: center;
	position: absolute;
	
	/* border: 2px solid transparent; */
}

/* Runner name and pronouns panel. */
.runner-container {
	position: absolute;
	display: flex;
	
	/* border: 2px solid transparent; */
}

.runner-name {
	margin-right: 10px;
	font-size: 30pt;
	font-stretch: semi-condensed;
	float: left;
	vertical-align: middle;
	width: 100%;

	/* border: 2px solid transparent; */
}

.pronouns {
	font-size: 20pt;
	vertical-align: middle;
	text-align: right;
	float: right;
}

.medals {
	margin-top: 10px;
	margin-right: 7px;
	vertical-align: middle;	
	float: right;

	border: 2px solid transparent;
}

.medals-img {
	width: 30px;
	height: 30px;

	border: 2px solid transparent;
}

.finalTime {
	font-size: 22pt;
	font-stretch: semi-condensed;
	vertical-align: middle;

	border: 2px solid transparent;
}

/* Category panel. */
#info-container {
	font-size: 21pt;
	position: absolute;
	display: flex;
	
	/* border: 2px solid transparent; */
}

#category {
	float: left;
	vertical-align: middle;
	flex: 1;
}

#info {
	float: left;
	vertical-align: middle;
	flex: 1;
}

/* Timer panel. */
#timer-container {
	font-size: 21pt;
	position: absolute;
	display: flex;
	
	/* border: 2px solid transparent; */
}

#timer {
	font-family: 'Futura Heavy';
	font-size: 40pt;
	text-align: center;
	position: absolute;
	color: #FFFF00;
	
	/* border: 2px solid transparent; */
}

.timer_stopped {
	color: #c0c0c0;
}

.timer_paused {
	color: #c0c0c0;
}

.timer_finished {
	color: #50ff50;
}

/* estimate panel. */
#estimate {
	display: inline-block;
	font-size: 20pt;
	vertical-align: middle;
	margin-top: 3px;
}

#estimate-container {
	/* position: absolute; */
	float: right;
	vertical-align: middle;
}

#estimate-label {
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
}

/* Stopwatch image height. */
#estimate-label img {
	height: 21pt;
}

/* Sponsor panel. */
#sponsor-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	
	/* border: 2px solid transparent; */
}
