/* Runner and pronouns panel. */
.runner-container {
	width: 552px;
	height: 70px;
	line-height: 70px;
	
	padding-left: 5px;
	padding-right: 5px;
}

/* Runner name dynamic text. */
.runner-name {
	/* max-width: 350px; */
	font-size: 20pt;
}

.medals-img {
	width: 25px;
	height: 25px;
}

/* Player 1 info position. */
#runner-container1 {
	left: 90px;
	top: 505px;
}

/* Player 2 info position. */
#runner-container2 {
	left: 90px;
	top: 590px;
}

/* Player 3 info position. */
#runner-container3 {
	left: 90px;
	top: 675px;
}

.finalTime {
	font-size: 20pt;
}

/* Game name panel. */
#game-name {
	width: 565px;
	height: 80px;
	line-height: 80px;
	left: 667px;
	top: 245px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Category and estimate panel. */
#info-container {
	width: 565px;
	height: 35px;
	line-height: 35px;
	left: 667px;
	top: 325px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Timer panel. */
#timer {
	width: 585px;
	height: 80px;
	line-height: 80px;
	left: 667px;
	top: 375px;

	font-size: 50pt;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 667px;
	top: 455px;
	height: 35px;
}

/* #estimate {
	font-size: 24pt;
}

#estimate-label img {
	height: 25pt;
} */