/* Runner and pronouns panel. */
.runner-container {
	width: 493px;
	height: 61px;
	line-height: 61px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 390px;
}

/* Player 1 info position. */
#runner-container1 {
	left: 667px;
	top: 245px;
}

/* Player 2 info position. */
#runner-container2 {
	left: 740px;
	top: 321px;
}

/* Player 3 info position. */
#runner-container3 {
	left: 667px;
	top: 603px;
}

/* Player 4 info position. */
#runner-container4 {
	left: 740px;
	top: 679px;
}

/* Game name panel. */
#game-name {
	width: 566px;
	height: 56px;
	line-height: 56px;
	left: 667px;
	top: 500px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Category and estimate panel. */
#info-container {
	width: 567px;
	height: 30px;
	line-height: 30px;
	left: 667px;
	top: 554px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Timer panel. */
#timer {
    width: 586px;
    height: 56px;
    line-height: 56px;
    left: 667px;
    top: 397px;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 676px;
	top: 449px;
}

#medals1 {
	position: absolute;
	height: 30px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 7px;
	left: 606px;
	top: 5px;
}

#medals2 {
	position: absolute;
	height: 30px;
	margin-top: 0px;
	left: 1269px;
	top: 5px;
}

#medals3 {
	position: absolute;
	height: 30px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 7px;
	left: 606px;
	top: 495px;
}

#medals4 {
	position: absolute;
	height: 30px;
	margin-top: 0px;
	left: 1269px;
	top: 495px;
}

.finalTime {
	position: absolute;
	text-align: left;
	height: 32px;
	line-height: 32px;
}

#finalTime1 {
	left: 475px;
	top: 5px;
}

#finalTime2 {
	left: 1314px;
	top: 5px;
}

#finalTime3 {
	left: 475px;
	top: 495px;
}

#finalTime4 {
	left: 1314px;
	top: 495px;
}