/* Runner and pronouns panel. */
.runner-container {
	width: 587px;
	height: 73px;
	line-height: 73px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name {
	max-width: 430px;
}

/* Player 1 info position. */
#runner-container1 {
	left: 345px;
	top: 736px;
}

/* Player 2 info position. */
#runner-container2 {
	left: 967px;
	top: 736px;
}

/* Game name panel. */
#game-name {
	width: 792px;
	height: 90px;
	line-height: 90px;
	left: 763px;
	top: 824px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Category and estimate panel. */
#info-container {
	width: 792px;
	height: 56px;
	line-height: 56px;
	left: 763px;
	top: 914px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Timer panel. */
#timer {
	width: 403px;
	height: 90px;
	line-height: 90px;
	left: 345px;
	top: 824px;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 345px;
	top: 925px;
}