/* Runner and pronouns panel. */
.runner-container {
	width: 827px;
	height: 80px;
	line-height: 80px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Runner name dynamic text. */
.runner-name {
	/* max-width: 430px; */
	font-size: 26pt;
}

/* Player 1 info position. */
#runner-container1 {
	left: 536px;
	top: 654px;
}

/* Player 2 info position. */
#runner-container2 {
	left: 536px;
	top: 748px;
}

/* Game name panel. */
#game-name {
	width: 612px;
	height: 90px;
	line-height: 90px;
	left: 836px;
	top: 844px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Category and estimate panel. */
#info-container {
	width: 612px;
	height: 35px;
	line-height: 35px;
	left: 836px;
	top: 934px;
	
	padding-left: 10px;
	padding-right: 10px;
}

/* Timer panel. */
#timer {
	width: 370px;
	height: 90px;
	line-height: 90px;
	left: 451px;
	top: 844px;
}

/* Estimate panel. */
#estimate-container {
	position: absolute;
	left: 451px;
	top: 934px;
}