/* Runner and pronouns panel. */
/* #runner-container1 {
	width: 420px;
	height: 60px;
	line-height: 60px;
	left: 15px;
	top: 392px;
	
	padding-left: 5px;
	padding-right: 5px;
} */

/* Comms panel. */
.comms-container {
	width: 405px;
	height: 60px;
	line-height: 60px;
	
	padding-left: 5px;
	padding-right: 5px;

	top: 984px;
	/* font-size: 32px; */
}

#comms-container1 {
	left: 562px;

}

#comms-container2 {
	left: 1004px;

}

#comms-container3 {
	left: 1445px;

}

/* Comms name dynamic text. */
.comms-name {
	max-width: 310px;
}

/* Game name panel. */
#game-name {
	max-width: 430px;
	height: 60px;
	line-height: 80px;
	left: 35px;
	top: 976px;
		
	padding-left: 10px;
	padding-right: 10px;
}
