body {
    margin: 0px;
}

#omnibar {
    position: absolute;
    background-color: #ffff00;
    display: flex;
    width: 1040px;
    height: 100px;
    left: 880px;
}

#omnibar > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#omnibar-content {
    flex: 1;
    color: #2c88c5;
}

#omnibar-content * {
    display: initial;
}

.is-single-line {
    font-size: 28pt;
}

.is-multiline {
    font-size: 20pt;
    margin: 0;
}

.is-text-centered {
    margin: 0 auto;
}